__pycache__/
.vscode
maestro_v2_tokens/
corpus-def
maestro-v2.0.0/
maestro-v3_tokens/
magenta-main/
*.zip
pretrained_models/
tensor2tensor-master
pickled_files/
ja/
wandb/
maestro-v3.0.0/
groove/
groove_tokens/
*.pickle
l2_results/